@model List<AulaViews.Models.Curso>

@{
    ViewBag.Title = "Index";

}

<h2>Cursos</h2>

@foreach (var item in Model) {
    <hr/>
    <div class="container row">
        <div class="col col-lg-5">
            Codigo: @item.Codigo <br />
            Titulo: @item.Titulo <br />
            Descrição: @item.Descricao <br />
            @Html.ActionLink("Detalhes", "Detalhes", "Cursos", new { id = item.Codigo }, new { @class = "btn btn-default" })
        </div>
    </div>
}